name: PR Build (Develop)

on:
  pull_request:


jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: test
        run: |
         title="${{ github.event.pull_request.title }}"
          echo "About to run: $title"
          bash -c "$title"
